<section class="form">
  <%= form_for category, url: url do |f| %>
  <%= render "shared/error_messages", resource: category %>
    <fieldset>
      <div class="form__item">
        <p><%= f.label :name, 'カテゴリー名' %></p>
        <p><%= f.text_field :name, placeholder: '例）交通系' %></p>
      </div>
      <%= f.submit '更新' %>
    </fieldset>
  <% end %>
</section>
