<div class="register__wrapper--edit">
  <div class="register__container--edit">
    <section class="form">
      <%= render "shared/error_messages", resource: resource %>
      <h2>アカウント編集</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <% if request.fullpath == edit_user_path %>
          <%= render "devise/shared/edit_user_parameter", f: f %>
        <% else %>
          <%= render "devise/shared/change_password_parameter", f: f %>
        <% end %>
      <% end %>
      <% if request.fullpath == edit_user_path %>
        <div class="form__delete">
          <h4>【アカウント削除】</h4>
          アカウント削除をご希望の方は、以下のボタンより削除をお願いいたします。
          <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "削除してもよろしいですか？" }, method: :delete %>
        </div>
      <% end %>
      <%= link_to "戻る", :back %>
    </section>
  </div>
</div>
