<div class="register__wrapper">
  <div class="register__container">

    <section class="form">
      <%= render "shared/error_messages", resource: resource %>
      <h2>無料会員登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <fieldset>
          <div class="form__item">
            <p><%= f.label 'メールアドレス' %></p>
            <p><%= f.email_field :email, placeholder: "メールアドレス" %></p>
          </div>
          <div class="form__item">
            <p><%= f.label 'ユーザーネーム' %></p>
            <p><%= f.text_field :username, placeholder: "ユーザーネーム" %></p>
          </div>
          <div class="form__item">
            <p><%= f.label 'パスワード' %></p>
            <p><%= f.password_field :password, placeholder: "パスワード" %></p>
          </div>
          <div class="form__item">
            <p><%= f.label 'パスワード（確認）' %></p>
            <p><%= f.password_field :password_confirmation, placeholder: "確認のため、再度パスワードを入力してください" %></p>
          </div>

          <%= f.submit "無料会員登録" %>
        </fieldset>
      <% end %>
    </section>
  </div>
</div>
