<div class="shops__wrapper">
  <div class="shops__container">
    <% if @rests == [] %>
      <h3>条件に一致するお店がありません。再度検索をお願いします。</h3>
      <%= render 'search-area', pref_code: @pref_code, areas: @areas %>
    <% else %>
      <div class="shops__search-result">
        <h2>お店検索結果一覧</h2>
        <span><%= @total_hit_count %>件</span>中、<%= @now_hit_count %>件を表示中
      </div>
      <%= render 'search-area', pref_code: @pref_code, areas: @areas %>
      <%= render 'shared/rests', rests: @rests %>
      <%= paginate @rests %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'shared/reviews' %>
