<div class="shops">
  <div class="shops__container">
    <div class="shops__search-area">
      <% if @areas.present? %>
        <%= image_tag '/assets/shops/lupe.png', alt: '虫眼鏡' %><span>さらにエリアで絞り込む</span>
        <%= form_with(url: shops_path, local: true, method: :get) do |f| %>
          <%= f.hidden_field :pref_code, value: @pref_code %>
          <%= f.select :areacode_s, options_for_select(@areas.map{ |area| [area["areaname_s"], area["areacode_s"]]}) %><br />
          <%= f.submit '絞り込む', class: "shops__search-button" %>
        <% end %>
      <% end %>
    </div>

    <div class="shops__search-result">
      <span><%= @total_hit_count %>件</span>中、<%= @start_count %>-<%= @end_count %>件を表示中
    </div>

    <% if @rests %>
      <% @rests.each do |rest| %>
        <div class="shops__restaurant">
          <div class="shops__restaurant-title">
            <h3><%= link_to rest["name"], rest["url"] %>
              <span>
                （<%= rest["category"] %>／<%= rest["access"]["station"] %>から徒歩<%= rest["access"]["walk"] %>分）
              </span>
            </h3>
          </div>
          <div class="shops__restaurant-top">
            <%= image_tag(rest["image_url"]["shop_image1"]) %>
            <div class="shops__usable-emoney">
              <span class="shops__recommend-header">使える電子マネー！</span>
              <p>
                <% rest["e_money"].split(",").each do |e_money| %>
                  <%= e_money %>&nbsp;/
                <% end %>
              </p>
            </div>
          </div>
          <div class="shops__restaurant--bottom">
            <dl>
              <dt>営業時間</dt>
              <dd>
                <p><%= rest["opentime"] %></p>
              </dd>
            </dl>
            <dl>
              <dt>休業日</dt>
              <dd>
                <p><%= rest["holiday"] %></p>
              </dd>
            </dl>
            <dl>
              <dt>平均予算</dt>
              <dd>
                <p><%= rest["budget"] %>円</p>
              </dd>
            </dl>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= paginate @rests %>
</div>
