<fieldset>
  <div class="form__item">
    <p><%= f.label 'メールアドレス' %></p>
    <p><%= f.email_field :email, autofocus: true, placeholder: "メールアドレス" %></p>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="form__item">
    <p><%= f.label '現在のパスワード' %></p>
    <p><%= f.password_field :current_password, placeholder: "現在のパスワード" %></p>
  </div>
  <div class="form__item">
    <p><%= f.label '新しいパスワード' %></p>
    <p><%= f.password_field :password, placeholder: "新しいパスワード" %></p>
  </div>
  <div class="form__item">
    <p><%= f.label '新しいパスワード（確認）' %></p>
    <p><%= f.password_field :password_confirmation, placeholder: "確認のため、再度新しいパスワードを入力してください" %></p>
  </div>
  <%= f.submit "更新" %>
</fieldset>
