<div class="login__wrapper">
  <div class="login__container">
    <section class="form">
      <h2>パスワード再設定</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <fieldset>
          <div class="form__item">
            <p><%= f.label '新しいパスワード' %></p>
            <p><%= f.password_field :password, placeholder: "新しいパスワード" %></p>
          </div>
          <div class="form__item">
            <p><%= f.label '新しいパスワード（確認）' %></p>
            <p><%= f.password_field :password_confirmation, placeholder: "確認のため、再度新しいパスワードを入力してください" %></p>
          </div>
          <%= f.submit "再設定" %>
        </fieldset>
      <% end %>
    </section>
  </div>
</div>
