<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg">
    <!-- ロゴ -->
    <%= link_to "ペイつか！", root_path, class: "navbar-brand" %>

    <!-- SP用ハンバーガーアイコン -->
    <button class="d-block d-lg-none navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- メニュー -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "HOME", root_path, class: "nav-item nav-link" %>
        <%= link_to "サービス紹介", service_path, class: "nav-item nav-link" %>
        <%= link_to "お問い合わせ", contact_path, class: "nav-item nav-link" %>

        <!-- SP時のみ表示 -->
        <div class="d-block d-lg-none">
          <% if user_signed_in? %>
            <%= link_to 'キープリスト', keeplist_index_path, class: "nav-item nav-link" %>
            <%= link_to 'アカウント編集', edit_user_path, class: "nav-item nav-link" %>
            <%= link_to 'パスワード変更', edit_password_path, class: "nav-item nav-link" %>
            <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-item nav-link" %>
          <% else %>
            <%= link_to '無料会員登録', register_path, class: "nav-item nav-link" %>
            <%= link_to 'ログイン', login_path, class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- PC時のみ表示 -->
    <ul class="d-none d-lg-flex">
      <% if user_signed_in? %>
        <li class="header__keeplist-btn"><%= link_to 'キープリスト', keeplist_index_path %></li>
        <li><%= link_to 'アカウント編集', edit_user_path %></li>
        <li><%= link_to 'パスワード変更', edit_password_path, class: "nav-item nav-link" %></li>
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '無料会員登録', register_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
