<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg">
    <%= link_to "ペイつか！", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "HOME", root_path, class: "nav-item nav-link" %>
        <%= link_to "サービス紹介", service_path, class: "nav-item nav-link" %>
        <%= link_to "お問い合わせ", contact_path, class: "nav-item nav-link" %>
      </div>
    </div>
    <ul>
      <% if current_user.present? %>
        <li class="header__keeplist-btn">
          <%= image_tag '/assets/shared/star.png', alt: '星アイコン' %><%= link_to 'キープリスト', keeplist_index_path %>
        </li>

        <li>
          <%= link_to 'ログアウト', logout_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to '無料会員登録', register_path %>
        </li>

        <li>
          <%= link_to 'ログイン', login_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
