<div class="reviews">
  <h5>口コミ一覧</h5>
  <% get_reviews(rest["id"]) %>
  <% if @reviews.present? %>
    <a class="reviews__op-cl" data-target="review-<%= index+1 %>">口コミを見る</a>
    <ul id="review-<%= index+1 %>">
      <% @reviews.each do |review| %>
        <li>
          <span class="reviews__user">【<%= review.user.present? ? review.user.username : "ゲスト" %>】</span>
          <%= link_to "削除する", review, method: :delete, data: { confirm: "本当に削除しますか？" } if current_user.present? && current_user.admin? %>
          <div class="reviews__body">
            <p><%= review.body %></p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>まだ口コミはありません</p>
  <% end %>
  <div class="reviews__post">
    <%= form_for @review do |f| %>
      <% if current_user.present? %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <% else %>
        <%= f.hidden_field :user_id, value: nil %>
      <% end %>
      <%= f.hidden_field :shop_id, value: rest["id"] %>
      <%= f.text_field :body %>
      <%= f.submit '口コミ投稿', class: "submit-btn" %>
    <% end %>
  </div>
</div>
