<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><%= @contact.name %>様</h4>

    <p>お問い合わせをいただき、誠にありがとうございます。</p>
    <p>電子マネー決済店検索サービス「ペイつか」でございます。</p>

    <p>今回、下記のお問い合わせを承りました。</p>

    <p>====================================================================</p>

    <p>[お客様名]</p>
    <p><%= @contact.name %>様</p>

    <p>[メールアドレス]</p>
    <p><%= @contact.email %></p>

    <p>[電話番号]</p>
    <p><%= @contact.tel %></p>

    <p>[お問い合わせ内容]</p>
    <p><%= @contact.content %></p>

    <p>====================================================================</p>

    <p>担当者から折り返し回答のご連絡をさせていただきますので、お手数ですが少々お待ち下さい。</p>
  </body>
</html>
