<section class="form">
  <%= form_for emoney, url: url do |f| %>
  <%= render "shared/error_messages", resource: emoney %>
    <fieldset>
      <div class="form__item">
        <p><%= f.label :name, '電子マネー名' %></p>
        <p><%= f.text_field :name, placeholder: '例）PayPay' %></p>
      </div>
      <div class="form__item">
        <p><%= f.label :category_id, 'カテゴリー' %></p>
        <p><%= f.collection_select(:category_id, categories, :id, :name) %></p>
      </div>
      <div class="form__item">
        <p><%= f.label :image, 'イメージ画像' %></p>
        <p><%= f.file_field :image %></p>
      </div>
      <div class="form__item">
        <p><%= f.label :link, '公式リンク' %></p>
        <p><%= f.text_field :link %></p>
      </div>
      <div class="form__item">
        <p><%= f.label :description, '概要' %></p>
        <%= f.text_area :description, placeholder: '電子マネーの概要をご記入ください' %>
      </div>
      <%= f.submit '更新' %>
    </fieldset>
  <% end %>
</section>
